<h1><%= "What are we watching today, " + @profile.name + "?" %></h1>
<h2 style="text-align: center;">Your List</h2>
<div class="container-sm">
  <div class="row">
    <% @profile.list.movies.each do |movie| %>
        <% @parse = movie %>
        <%= render template: "layouts/movie_card" %>
    <% end %>
  </div>
</div>
<br>
<% Tag.all.each do |tag| %>
    <h2 style="text-align: center;">Genre: <%=tag.name %></h2>
    <div class="container-sm">
        <div class="row">
            <% tag.movies.each do |movie| %>
                <% @parse = movie %>
            <%= render template: "layouts/movie_card" %>
        <% end %>
        </div>
    </div>
    <br>
    <% end %>
    

<p><%= link_to "All Movies", "/movies" %><p>
<p>
<%= button_to "Back to Profile Select", user_path(@current_user), method: "get" %>
<%= button_to "Edit Profile", edit_profile_path, method: "get" %>

</p>

