<body class="boilerplate">
<%= render 'layouts/navbar_edit' %>


  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-profile my-5">
          <div class="card-body">
            <h5 class="card-title text-center">New Movie Util</h5>
                <%= form_for @movie do |f|%>
                    <%= f.text_field :title, placeholder: "Title"  %><br>
                    <%= f.text_field :url, placeholder: "URL"%><br>
                    <%= f.collection_select :tag_id, Tag.all, :id, :name %><br>
                    <%= f.submit %><br>
                <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div>
</body>