<<!DOCTYPE html>
<html>
<style>
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
 
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  float: center;
  width: 175%;
  padding: 0.5%;
  transform: skewY(10deg);
  overflow-wrap: normal
}

.row img {
  margin-right: 0.5%;
  opacity: 0.5;
}

.row {
  content: "";
  transform: skewY(10deg);
  display: table;
  clear: both;
  overflow-wrap: normal
}
</style>
  <body >
    <% @pictures = Movie.all.map{|movie| "https://image.tmdb.org/t/p/w188_and_h282_bestv2" +movie.img} %>
    <% @posters = [] %>
    <% Movie.all.each do |movie| %>
      <% if movie.backdrop != nil %>
      <% @posters << "https://image.tmdb.org/t/p/w533_and_h300_bestv2/" + movie.backdrop %>
      <% end %>
    <% end %>
    <div style="transform: skew(-17deg); transform: rotateZ(15deg) perspective:200px; overflow: visible; scale(1.5,1.5); margin-right: -150px; margin-left: -150px; height: 200%;">
      <% 20.times do %>
        <div class="row">
          <% 6.times do %>
            <img src=<%= "#{@pictures.sample}" %> style="width:4%">
            <img src=<%= "#{@posters.sample}" %> style="width:10.6%">
          <% end %>
        </div>
        <div class="row">
          <% 3.times do %>
            <img src=<%= "#{@posters.sample}" %> style="width:10.6%">
            <img src=<%= "#{@posters.sample}" %> style="width:10.6%">
            <img src=<%= "#{@pictures.sample}" %> style="width:4%">
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
  </body>
</html>
